.container{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 15vh;
}

.btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
    border: 4px solid white;
    color: white;
    background-color: aqua;
    font-weight: bolder;
    font-size: large;
}

.btn:hover{
    color: blue;
    border: 4px solid blue;
    background-color: white;
}